*{
	box-sizing: border-box;
}
html,
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', Helvetica, sans-serif;
	background-color: #0068ff;
}
main{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
button{
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);;
	/*background-color: none;*/
	background-color: inherit;
	color: white;
	padding: 6px 12px;
	border-radius: 5px;
	font-family: inherit;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
}



#toolmain #tooltip-bottom{
	visibility: hidden;
	width: auto;
	background-color: #222;
	color: white;
	text-align: center;
	padding: 8px 10px;
	border-radius: 6px;
	display: inline;
	font-size: 13px;

	/* Position the tooltip Left */
	position: absolute;
	/*z-index: 100;*/
	top: 125%;
	left: 25%;
	margin-left: -20px;

	/* Fade in tooltip */
	opacity: 0;
	transform: opacity 1s ease;
}

/* Tooltip arrow */
#toolmain #tooltip-bottom:after{
	content: "";
	position: absolute;
	bottom: 100%;
	right: 40%;
	border-bottom: 5px solid black;
	border-bottom: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

#toolmain:hover #tooltip-bottom{
	visibility: visible;
	opacity: 1;
}


.content{
	height: 100%;
	width: 75%;
	padding: 70px 60px;
	font-size: 18px;
	color: white;
	position: relative;
	line-height: 1.5;
}
.content.full{
	max-width: 900px;
	margin: 0 auto;
	position: absolute;
	left: 30%;
	top: 50%;

	/*display: flex;*/
	/*text-align: center;*/

}
.parent{
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	right: 0;
	width: 25%;
}
.parent.hide{
	display: none;
}

.item{
	height: 80px;
	color: white;
	text-align: left;
	font-weight: 300;
	line-height: 1.5;
	width: 100%;
	transition: 5s ease-in-out;
}
.item2{
	/*order: -1;*/
	min-height: 80px;
	background-color: white;
	/*box-shadow: 0px -2px 2px 2px rgba(0,0,0,.4);*/
	color: #666;
}
.item2:hover{
	background-color: yellow;
}
.item2:hover ~ .item1{
	background-color: red;
}
.item1{
	flex-grow: 1;
	background-color: #EEE;
	overflow-y: scroll;
	color: #666;
	padding: 10px 20px;
	/*box-shadow: 0px 5px 4px 4px rgba(0,0,0,.4);*/
}
.item1::-webkit-scrollbar {
    width: 8px;
    height: 100%;
    background-color: #ddd; 
 }
.item1:hover::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #7f8c8d;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}
.item3{
	min-height: 120px;
	color: #666;
	background-color: white;
	box-shadow: 0 2px 2px 0px rgba(0,0,0,.4);
}

/* Content Properties */

.content div.title {
	display: flex;
	flex-direction: row;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 50px;
	align-items: center;
	font-weight: 300; }
.content div.title div.price {
	font-size: 54px;
	margin-right: 20px; 
}
.content div.title div.balance {
	font-size: 22px; 
}
.content div.gotsunlight {
	font-size: 46px;
	font-weight: 500; 
}
.content div.sometxt {
	margin: 20px 0;
	font-weight: 300;
	max-width: 400px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 16px;
	line-height: 30px;
	text-align: justify; 
}
.content div.sometxt a {
	color: white;
	text-decoration: none; 
}
.content div.overview {
	max-width: 400px;
	border-height: -1px;
	padding-bottom: 5px;
	display: inline-block;
	display: flex;
	justify-content: space-between;
	position: relative; 
}
.content div.overview:after {
	position: absolute;
	content: " ";
	width: 100%;
	height: 2px;
	background: rgba(255, 255, 255, 0.2);
	top: 40px; 
}
.content div.overview a {
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;
	color: #FFF; 
}
.content div.overview a:nth-child(1) {
	padding-bottom: 10px;
	position: relative;
	border-bottom: 2px solid white; 
}
.content div.just {
	margin: 20px 0;
	font-size: 20px;
	color: #FFF; 
}


/** Sidebar design**/
div.item2{
	padding: 8px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div.imgprofil{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}
div.imgpart{
	height: 40px;
	width: 40px;
	border-radius: 4px;
	margin-right: 10px;
	overflow: hidden;
}
div.imgpart img{
	width: 100%;
	height: 100%;
}
div.headaction{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}
div.username{
	font-weight: 400;
}
div i{
	margin-left: 10px;
	color: #666;
	cursor: pointer;
}


/*Send box side*/

div.sendbox{
	display: flex;
	flex-direction: column;
	padding: 10px;
	position: relative;
}
div.edit{
	align-self: flex-start;
	width: 70%;
}
div.edit textarea {
    border: none;
    outline: none;
    padding: 20px 10px 30px 20px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    color: #666;
    resize: none;
    box-sizing: border-box; 
}
div.edit textarea::-webkit-scrollbar {
	width: 4px; 
}
div.edit textarea::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background-color: #7f8c8d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}
div.iconside{
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: flex;
	flex-direction: row;
	z-index: 4;
}
div.iconside i{
	font-size: 18px;
	border: 2px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	transition: .1s;
}
div.iconside i:hover{
	transform: scale(1.1);
}



/* Chatbox */

.chatbox {
	position: relative;
	line-height: 1.5; 
}
.chatbox .receiving {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	position: relative; 
}
.chatbox .receiving .profile {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden; 
}
.chatbox .receiving .profile img {
	height: 100%; 
}
.chatbox .receiving .msgrec {
	width: 90%;
	padding: 10px 0 0 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px; 
}
.chatbox .receiving .msgrec .txtmsgrec {
	padding: 14px 10px;
	background-color: #FFF;
	border-radius: 8px; 
}

.chatbox .sending {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
	align-items: flex-end;
	width: 100%; 
}
.chatbox .sending .msgsent {
	position: relative;
	right: 0; 
}
.chatbox .sending .msgsent .txtmsgsent {
	display: inline-block;
	position: relative;
	right: 0;
	padding: 14px 10px;
	background-color: #364759;
	color: #FFF;
	border-radius: 5px;
	position: relative
}
.chatbox .timedate {
	padding-top: 5px;
	font-size: 14px;
	margin-left: 5px; 
}











@media only screen and (max-width: 1000px){
	.content{
		width: 70%;
	}
	.content.full{
		max-width: 900px;
		margin: 0 auto;
		position: absolute;
		left: 25%;
		top: 50%;
	}
	.parent{
		width: 30%;
	}
	
}
@media only screen and (max-width: 900px){
	.content{
		width: 60%;
	}
	.content.full{
		max-width: 900px;
		margin: 0 auto;
		position: absolute;
		left: 25%;
		top: 50%;
	}
	.parent{
		width: 40%;
	}
}
@media only screen and (max-width: 780px){
	.content{
		width: 50%;
		padding: 50px 20px;
	}
	.content.full{
		max-width: 900px;
		margin: 0 auto;
		position: absolute;
		left: 25%;
		top: 50%;
	}
	.parent{
		width: 50%;
	}
	
	/*Content Properties*/

	.content div.title {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		align-items: flex-start; 
	}
	.content div.title div.price {
		font-size: 44px;
		margin-right: 16px; 
	}
	.content div.title div.balance {
		font-size: 18px; 
	}
	.content div.gotsunlight {
		font-size: 28px;
		font-weight: 500; 
	}
	.content div.sometxt {
		font-size: 14.5px;
		line-height: 1.5; 
	}
	.content div.overview:after {
		top: 32px; 
	}
	.content div.overview a {
		font-size: 15px; 
	}
	.content div.just {
		font-size: 15px; 
	}


}
@media only screen and (max-width: 600px){
	.content{
		display: none;
	}
	.parent{
		width: 100%;
		box-shadow: none;
		position: static;
	}
	.parent.hide{
		display: flex;
	}

}
