$font-family: 'Roboto', Helvetica, sans-serif;
$bgc: #0068ff;
$white: #FFF;
$hightlight_1: #fd7473;
$hightlight_2: #fec951;
$hightlight_3: #47b8e0;
$hightlight_4: #9f68d0;
$txtprimary: #333;
$txtsecondary: #666;
$sent: #364759;

*{
	box-sizing: border-box;
}
body{
	font-family: $font-family;
	margin: 0;
	padding: 0;
	background-color: $bgc;
}

i{
	color: $txtprimary;
}
main{
	display: flex;
	flex-direction: row;
	width: 100%;
	height:100%;
}

.sidebar{
	display: flex;
	flex-direction: column;
	width: 30vw;
	right: 0;
	top: 0;
	height: 100vh;
	overflow: hidden;
	background-color: #EEE;
	position: fixed;

	.headbox{
		height: 80px;
		padding: 10px;
		background-color: $white;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		color: $txtsecondary;
		margin-bottom: 10px;
		justify-content: flex-start;

		.userpart{
			.username{
				font-weight: 500;
			}
			.userstatus{
				font-size: 14.5px;
			}
		}

		.imgprofil{
			width: 44px;
			height: 44px;
			margin-right: 10px;

			img{
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}		
		}

		.headaction{
			display: flex;
			flex-direction: row;
			position: absolute;
			right: 10px;

			div{
				margin-left: 8px;

				i{
					color: $txtsecondary;
					cursor: pointer;
					transition: color .2s;

					&:hover{
						color: $txtprimary;
						transform: scale(1.1);
					}
				}
			}
		}
	}
	
	.sendbox{
		display: flex;
		flex-direction: column;
		bottom: 0;
		height: 110px;
		background-color: $white;
		width: 100%;

		
		.edit{
			height: 34px;
			padding: 8px 4px;

			textarea{
				border: none;
				outline: none;
				padding: 20px 10px 30px 20px;
				font-family: $font-family;
				font-size: 16px;
				width: 100%;
				height: 60px;
				color: $txtsecondary;
				resize: none;
				box-sizing: border-box;
			}
			textarea::-webkit-scrollbar{
				width: 4px;
			}
			textarea::-webkit-scrollbar-thumb{
				border-radius: 1px;
				background-color: #7f8c8d;
				box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
			}
		}

		.sendside{
			display: flex;
			flex-direction: row;
			position: absolute;
			right: 15px;
			bottom: 8px;
			z-index: 2;

			i{
				cursor: pointer;
				font-size: 18px;
				padding: 5px;
				color: $txtsecondary;
				border: 1.5px solid rgba(0,0,0,.08);
				border-radius: 3px;
				margin-left: 5px;
			}
		}
	}


	.chatbox{
		overflow-y: scroll;
		padding: 0 10px 10px 10px;
		z-index: 0;
		font-size: 14px;
		font-weight: 300;
		text-align: left;
		position: relative;

		&::-webkit-scrollbar{
			width: 6px;
		}
		&::-webkit-scrollbar-thumb{
			border-radius: 3px;
			background-color: #7f8c8d;
			box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
		}

		.receiving{
			display: flex;
			flex-direction: row;
			margin-bottom: 10px;
			position: relative;
			
			.profile{
				width: 10%;
				height: 10%;

				img{
					height: 100%;
					width: 100%;
					border-radius: 5px;
				}
			}

			.msgrec{
				width: 90%;
				padding: 10px 0 0 20px;
				display: flex;
				flex-direction: column;
				margin-bottom: 5px;

				.txtmsgrec{
					padding: 14px 10px;
					background-color: $white;
					border-radius: 8px;
				}

				.timedate{
					padding-top: 8px;
					font-size: 12px;
				}
		
			}
		}
		


		.sending{
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			position: relative;
			align-items: flex-end;
			width: 100%;


			.msgsent{
				position: relative;
				right: 0;
				.txtmsgsent{
					display: inline-block;
					position: relative;
					right: 0;
					padding: 14px 10px;
					background-color: $sent;
					color: $white;
					border-radius: 5px;
					position: relative;
				}
			}
		}
		.timedate{
			padding-top: 8px;
			font-size: 12px;
			margin-left: 5px;
		}
	}

}
::selection {
  background: none; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: none; /* Gecko Browsers */
}




.content{
	width: 70%;
	height: 100%;
	color: $white;
	padding: 70px 60px;

	div.title{
		display: flex;
		flex-direction: row;
		color: rgba(255,255,255,.5);
		margin-bottom: 50px;
		// justify-content: center;
		align-items: center;
		font-weight: 300;

		div.price{
			font-size: 54px;
			margin-right: 20px;
		}

		div.balance{
			font-size: 22px;
		}
	}

	div.gotsunlight{
		font-size: 46px;
		font-weight: 500;
	}

	div.sometxt{
		margin: 20px 0;
		font-weight: 300;
		max-width: 400px;
		color: rgba(255,255,255,.5);
		font-size: 16px;
		line-height: 30px;
		text-align: justify;

		a{
			color: rgba(255,255,255,1);
			text-decoration: none;
		}
	}

	div.overview{
		max-width: 400px;
		border-height: -1px;
		padding-bottom: 5px;
		display: inline-block;
		display: flex;
		justify-content: space-between;
		position: relative;

		&:after{
			position: absolute;
			content: " ";
			width: 100%;
			height: 2px;
			background: rgba(255,255,255,.2);
			top: 34px;
		}
		a{
			font-weight: 300;
			font-size: 20px;
			text-decoration: none;
			color: $white;

			&:nth-child(1){

			padding-bottom: 10px;
			position: relative;
			border-bottom: 2px solid rgba(255,255,255,1);
			}
		}
	}

	div.just{
		margin: 20px 0; 
		font-size: 20px;
		color: $white;
	}
}


@media (min-width: 701px) and (max-width: 860px){
	.sidebar{
		width: 50%;
	}
	.content{
		width: 50%;
		height: auto;
		padding: 60px 20px;

		div.title{
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		align-items: flex-start;

		div.price{
			font-size: 44px;
			margin-right: 16px;
		}

		div.balance{
			font-size: 18px;
		}
	}

	div.gotsunlight{
		font-size: 28px;
		font-weight: 500;
	}

	div.sometxt{
		font-size: 14.5px;
		line-height: 26px;
		
	}

	div.overview{

		&:after{
			top: 28px;
		}
		a{
			font-size: 15px;
		}
	}

	div.just{ 
		font-size: 15px;
	}
	}
}

@media only screen and (max-width: 700px){
	.sidebar{
		width: 100%;
		height: 100%;	
	}
	.content{
		display: none;
	}
}
